.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #1890ff;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout-header.header {
  background: #fff;
  padding: 0;
}
.content {
  margin: 1px;
  padding: 24px;
  background: #fff;
  min-height: calc(100% - 65px);
}
footer {
  background: #001529;
  padding: 20px 28px;
  color: #fff;
  clear: both;
  text-align: center;
}